<h1>  From </h1>
<form method='post' action=''>
{% csrf_token %}
    <lable for='age'>Age :</lable><br>
    <input type='text' id='age'name='age'><br>
    <lable for='topic'>Topic :</lable><br>
    <input type='text' id='topic'name='topic'><br>
    <lable for='college'>College :</lable><br>
    <input type='text' id='college'name='college'><br>
    <lable for='school'>School :</lable><br>
    <input type='text' id='school'name='school'><br>
    <lable for='rollno'>Rollno :</lable><br>
    <input type='text' id='rollno'name='rollno'><br>
    <br>
    <input type='submit' value='submit'>
    